<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.returm.front.management.common.mapper.AdminWalletMapper">

    <select id="getAdminWalletAddress" resultType="AdminWalletEntity">
        SELECT /* AdminWalletMapper.xml, getAdminWalletAddress */
            A.WALLET_SEQ                                        AS walletSeq,
            A.WALLET_ADDR                                       AS walletAddr,
            A.INSERT_DT                                         AS insertDt,
            A.INSERT_ID                                         AS insertId,
            A.UPDATE_DT                                         AS updateDt,
            A.UPDATE_ID                                         AS updateId
        FROM  RT_ADMIN_WALLET_INFO A
        ORDER BY A.WALLET_SEQ DESC
        LIMIT 1
    </select>

</mapper>